<template>
<div>
  <h1>It works</h1>
  <h5>{{msg}}</h5>
  <el-button
  type="primary"
  @click="logout()">登出</el-button>
</div>
</template>

<script src="./User.js">
</script>

<style src="./User.css">
</style>
