<template>
  <div id="app">
    <img src="../front_end/assets/logo.png">
    <router-view/>
    <div
      v-loading.fullscreen.lock="loading"/>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'App',
  data () {
    return {
      loading: false
    }
  },
  beforeMount () {
    Vue.http.interceptors.push((request, next) => {
      if (request.method === 'POST' && request.body.silent) {
        delete request.body.silent
        return next()
      } else if (request.silent) {
        delete request.silent
        return next()
      }
      // api请求等待时加载动画
      this.loading = true
      let LoadingTimeout = setTimeout(() => {
        this.loading = false
      }, 2000)
      next((res) => {
        this.loading = false
        clearTimeout(LoadingTimeout)
        return res
      })
    })

    this.$store.dispatch('updateUserStatus')
      .then(data => {
        let path = window.location.href.replace(window.location.protocol + '//' + window.location.host, '')
        // console.log(data)
        if (data === undefined) {
          this.$router.replace('/login-register')
        } else if (!path.startsWith(this.$store.state.routerTable[data])) {
          this.$router.replace(this.$store.state.routerTable[data])
        } else {
          this.$router.replace(path)
        }
      })
  },
  methods: {
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
