<template>
<div>
  <h1>It works</h1>
  <h5>{{msg}}</h5>
  <div class="login-form">
    <el-input class="login-form-input" v-model="loginForm.userId" placeholder="学号"></el-input>
    <el-input class="login-form-input" type="password" v-model="loginForm.password" placeholder="密码"></el-input>
    <el-button
      type="primary"
      @click="submitLogin()">
      登陆
    </el-button>
    <el-button
      type="primary"
      @click="dialogRegisterVisible=true">
      注册测试
    </el-button>
  </div>
  <el-dialog title="注册" :visible.sync="dialogRegisterVisible">
    <el-form
      :model="registerForm"
      :rules="registerRules"
      ref="registerForm"
      label-width="100px"
      class="demo-ruleForm">
      <el-form-item label="学号" prop="userId">
        <el-input v-model="registerForm.userId"></el-input>
      </el-form-item>
      <el-form-item label="姓名" prop="userName">
        <el-input v-model="registerForm.userName"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input placeholder="中山大学企业邮箱" v-model="registerForm.email">
          <template slot="append">@mail2.sysu.edu.cn</template>
        </el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input type="password" v-model="registerForm.password"></el-input>
      </el-form-item>
      <el-form-item label="确认密码" prop="password_check">
        <el-input type="password" v-model="registerForm.password_check"></el-input>
      </el-form-item>
      <el-form-item label="联系电话" prop="phone">
        <el-input v-model="registerForm.phone"></el-input>
      </el-form-item>
      <el-form-item label="性别" prop="gender">
        <el-radio v-model="registerForm.gender" label="male">男</el-radio>
        <el-radio v-model="registerForm.gender" label="female">女</el-radio>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitRegister()">注册</el-button>
        <el-button @click="resetForm('registerForm');dialogRegisterVisible=false">取消</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
  <el-dialog title="激活" :visible.sync="dialogActiveVisible">
    <el-form
      :model="activeForm"
      ref="activeForm"
      label-width="80px"
      class="demo-ruleForm">
      <el-form-item label="激活码" prop="activeCode">
        <el-input v-model="activeForm.activeCode" placeholder="请检查邮箱内的激活邮件，20分钟内有效"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitActive()">激活</el-button>
        <el-button type="primary" @click="resendActiveEmail()">重新发送</el-button>
        <el-button @click="resetForm('activeForm');dialogActiveVisible=false">取消</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</div>
</template>

<script src="./LoginRegister.js">
</script>

<style src="./LoginRegister.css">
</style>
